*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none ;
  padding: 10px;
}

button {
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;

}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 20vh;
  background-image: linear-gradient(rgba(28, 166, 201, 0.875), rgba(8, 67, 168, 0.875));
}

.name {
  margin-bottom: 30px;
}

.add-todo {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  width: 40vw;
  display: flex;
  /* text-decoration: line-through; */
}

.add-todo input {
  flex: 1;
}

.add-todo button {
  padding: 10px ; 
}

.todolist {
  width: 40vw;
  background-color: white;
  border: 2px solid silver;
  /* padding: 20px; */
}

.todo {
  display: flex;
  border-bottom: 1px solid silver;
  height: 40px;
}

.todo .content {
  margin-right: auto;
  padding: 10px;
  cursor: pointer;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

input:focus {
  text-decoration:underline;
}


.todo .editing {
  /* flex: 1; */
  margin-right: auto;
  padding: 10px;
}

.btn {
  padding: 6px;
    /* height: 10%; */
    overflow: hidden;
    border-radius: 100px;
    align-self: center;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.todo .delete-btn {
  background-color: red;  
}

.todo .edit-btn {
  background-color: #9dc958;
}

.empty {
  padding: 10px;
}